.market-head {
  padding: 0;
}
.market-head .g-menu-box {
  line-height: 64px;
}
.market-body {
  background: #fff;
  padding: 20px;
}
.market-body .market-detection-body .market-detection-table {
  padding: 20px 0;
}
.market-body .market-query-condition {
  margin-bottom: 10px;
}
.market-body .market-contend-content .condition {
  margin-bottom: 10px;
}
